scratch/auroraEffects0
scratch/auroraEffects1
scratch/auroraEffects10
scratch/auroraEffects11
scratch/auroraEffects12
scratch/rawToken
scratch/auroraEffects12
scratch/auroraEffects13
scratch/auroraEffects14
scratch/auroraEffects15
scratch/auroraEffects16
scratch/auroraEffects17
scratch/auroraEffects18
scratch/auroraEffects19
scratch/auroraEffects2
scratch/auroraEffects20
scratch/auroraEffects21
scratch/auroraEffects22
scratch/auroraEffects23
scratch/auroraEffects3
scratch/auroraEffects4
scratch/auroraEffects5
scratch/auroraEffects6
scratch/auroraEffects7
scratch/auroraEffects8
scratch/auroraEffects9
scratch/nanoleafHost
scratch/numberOfEffects
scratch/rawIP
